<div class="color-balk">
  <a class="circle" href="/"><img class="home-icon" src="/images/home-icon.jpg" alt=""></a>
  <img class="logo" src="/images/logo.jpg" alt="Sportiek logo">
  <img class="filter-icon" src="/images/filter-icon.jpg" alt="">
</div>