* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.color-balk {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(105, 228, 255);
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 7rem;
    display: flex;
    align-items: center;   
}

.h1-title {
    text-align: center;
}

form {
    width: 64%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.zoek-knop {
    width: 8rem;
    height: 2rem;
    background: greenyellow;
    border: none;
    border-radius: 2rem;
    box-shadow: 4px 7px lightgrey;
}

.zoek-knop:active {
    box-shadow: none;
    transform: translateY(4px);
}

.circle {
    border-radius: 50%;
    cursor: alias;
}

.home-icon {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border-radius: 50%;
}

.filter-icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

@media only screen and (min-width: 500px) {
    
form {
    width: 20%;
    align-items: center;
}   
    
}

/* results page */

.appartments-info {
    display: flex;
    flex-direction: column;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 150%;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
}

.groen {
    background-color: lime;
}

.rood {
    background-color: red;
}